/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 20, 2022, 5:38:50 PM
    Author     : santi
*/

.root{
    -fx-background-color: #DAF7A6;
    -fx-background-radius: 20;
}

.Border{
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.Encabezado{
    -fx-font-family: "Lucida Console";
}

.buttonSi{
    -fx-background-color: linear-gradient(#DAF7A6,#58D68D);
    -fx-background-radius: 30;
}

.buttonSi:hover{
    -fx-background-color: #00FF00;
    -fx-background-radius: 30;
}

.buttonSi:pressed{
    -fx-background-color: #95FFA0;
    -fx-background-radius: 30;
}

.buttonNo{
    -fx-background-color: linear-gradient(#EC7063,#C0392B);
    -fx-background-radius: 30;
}

.buttonNo:hover{
    -fx-background-color: #FF0000;
    -fx-background-radius: 30;
}

.buttonNo:pressed{
    -fx-background-color: #FF6B6B;
    -fx-background-radius: 30;
}

.buttonFormat{
    -fx-background-color: #D5F5E3;
    -fx-background-radius: 10;
    -fx-font-family: "Lucida Console";
    -fx-text-fill: #196F3D;
}

.buttonFormat:hover{
    -fx-background-color: #59F169;
    -fx-background-radius: 10;
}

.buttonFormat:pressed{
    -fx-background-color: #94F99E;
    -fx-background-radius: 10;
}

.textoTitulo{
    -fx-font-family: "Century Gothic";
}

.texto{
    -fx-font-family: "Century Gothic";
    -fx-font-size: 12pt;
}
